.App {
  text-align: center;
}

.App-logo {
  height: 9vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .sitb-color {
    animation: sitb-color infinite 20s linear;
  }
}

@keyframes sitb-color {
  from {
    background-color: #ff7961;
    border-radius: 100px;
    width: 9vh;
    height: "auto";
  }
  to {
    background-color: #f44336;
    border-radius: 100px;
    width: 9vh;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
